networks:
  dev:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: avito-testcase-backend
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    environment:
      API_PORT: "${API_PORT:-8080}"
      DB_HOST: "${DB_HOST:-postgres}"
      DB_PORT: "${DB_PORT:-5432}"
      DB_USER: "${DB_USERNAME:-avito_user}"
      DB_PASSWORD: "${DB_PASSWORD:-avito_password}"
      DB_NAME: "${DB_NAME:-avito_pr_db}"
      DB_SSLMODE: "${DB_SSLMODE:-disable}"
    ports:
      - "${API_PORT:-8080}:${API_PORT:-8080}"
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    networks:
      - dev

  postgres:
    image: postgres:15-alpine
    command:
      - "postgres"
      - "-c"
      - "max_connections=50"
      - "-c"
      - "shared_buffers=64MB"
      - "-c"
      - "effective_cache_size=4GB"
      - "-c"
      - "work_mem=16MB"
      - "-c"
      - "maintenance_work_mem=512MB"
      - "-c"
      - "random_page_cost=1.1"
      - "-c"
      - "temp_file_limit=10GB"
      - "-c"
      - "log_min_duration_statement=200ms"
      - "-c"
      - "idle_in_transaction_session_timeout=10s"
      - "-c"
      - "lock_timeout=1s"
      - "-c"
      - "statement_timeout=60s"
      - "-c"
      - "shared_preload_libraries=pg_stat_statements"
      - "-c"
      - "pg_stat_statements.max=10000"
      - "-c"
      - "pg_stat_statements.track=all"
    container_name: avito-testcase-postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: "${DB_USERNAME:-avito_user}"
      POSTGRES_PASSWORD: "${DB_PASSWORD:-avito_password}"
      POSTGRES_DB: "${DB_NAME:-avito_pr_db}"
      POSTGRES_PORT: "${DB_PORT:-5432}"
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME:-avito_user} -d ${DB_NAME:-avito_pr_db}"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 1m
    restart: unless-stopped
    networks:
      - dev

  migrate:
    image: migrate/migrate:latest
    container_name: avito-testcase-migrate
    env_file:
      - .env
    volumes:
      - ./migrations:/migrations
    command: 
      - "-path=/migrations"
      - "-database=postgres://${DB_USERNAME:-avito_user}:${DB_PASSWORD:-avito_password}@postgres:${DB_PORT:-5432}/${DB_NAME:-avito_pr_db}?sslmode=${DB_SSLMODE:-disable}"
      - "up"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - dev
    restart: "no"

  prometheus:
    image: prom/prometheus:latest
    container_name: avito-testcase-prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - dev

volumes:
  postgres_data:
  prometheus_data:
